.hdefault{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #721c24;
}
.pdefault{
    font-family: sans-serif;
    color:black;
}
body{
    background-color: gray;
}